* {
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgreen;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    background-color: lightcyan;
    font-size: 8vmin;
    color: red;
}
#reset{
    background-color: black;
    color: white;
    font-size: 1.23rem; 
    border-radius: 10%;
    padding: 1rem;
}
 #playagain{
    background-color: red;
    color: white;
    font-size: 1.23rem; 
    border-radius: 10%;
    padding: 1rem;
 }

.hide{
    display: none
}
.message{
    padding: 20%;
    font-size: 3.2rem;
    color: darkblue;
}